{% if rule_category == 'EC' %}
Evasion Characteristic
{% elif rule_category == 'FC' %}
File Characteristic
{% elif rule_category == 'FID' %}
File ID
{% elif rule_category == 'HA' %}
Header Analytic
{% elif rule_category == 'MC' %}
Malicious Characteristic
{% elif rule_category == 'SC' %}
Suspicious Characteristic
{% endif %}
