{% if rule_private is defined %}private {% endif %}rule {{ rule_category }}_{{ rule_name }}{% if yara_tags %} : {{ yara_tags |join(' ') }}{% endif %}
{
    meta:
        Description = "{{ rule_description }}"
        Category = "{% include 'categories.tmpl' %}"
        Author = "{{ rule_author }}"
        Created_Date = "{{ rule_created }}"
        Last_Modified_Date = "{{ rule_last_modified }}"
        Revision = "{{ rule_revision }}"
        Confidence = {{ rule_scores.confidence }}
        Severity = {{ rule_scores.severity }}
        EventID = "{{ rule_id }}"
        {% if references.public.urls %}
          {% set n = cycler(range(1,100)) %}
          {% for u in references.public.urls %}
            Reference{{ n.next() }} = "{{ u }}"
          {% endfor %}
        {% endif %}
        {% if rule_tags %}
          {% set n = cycler(range(1,100)) %}
          {% for t in rule_tags %}
            Tag{{ n.next() }} = "{{ t }}"
          {% endfor %}
        {% endif %}
        
{% if rule_strings %}
    strings:
        {{ rule_strings }}
{% endif %}
    condition:
        {{ rule_condition }}
}

