{% if rule_private is defined %}private {% endif %}rule {{ rule_name }}{% if yara_tags %} : {{ yara_tags |join(' ') }}{% endif %}
{
    meta:
        {{ inject_meta }}
{% if rule_strings %}
    strings:
        {{ rule_strings }}
{% endif %}
    condition:
        {{ rule_condition }}
}

