{% if rule_private is defined %}private {% endif %}rule {{ rule_category }}_{{ rule_name }}{% if yara_tags %} : {{ yara_tags |join(' ') }}{% endif %}
{
    meta:
        EventID = "{{ rule_id |default(autoassign_rule_id_on_commit) }}"
        Revision = "{{ rule_revision }}"
        Category = "{{ rule_categories[rule_category] }}"
        Description = "{{ rule_description }}"
        Author = "{{ rule_author }}"
        Confidence = {{ rule_scores.confidence }}
        Severity = {{ rule_scores.severity }}
        Created_Date = "{{ rule_created }}"
        Last_Modified_Date = "{{ rule_last_modified }}"
        {%- for k, v in (references.public.urls |list_as_meta('Reference')).items() %}
        {{ k }} = "{{ v }}"
        {%- endfor %}
        {%- for k, v in (rule_tags |list_as_meta('Tag')).items() %}
        {{ k }} = "{{ v|replace('"', '\\"') }}"
        {%- endfor %}
{% if rule_strings %}
    strings:
        {{ rule_strings|indent(8) }}
{%- endif %}
{% if rule_condition %}
    condition:
        {{ rule_condition|indent(8) }}
{%- endif %}
}

